<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="/assets/js/commands.js" defer></script>
</head>
<body>
<header>
  <nav class="nav-bar">
    <div class="nav-left">
      <a href="/">Home</a> |
      <a href="/subsites/experience.html">Experience</a> |
      <a href="/subsites/projects.html">Projects</a> |
      <a href="/subsites/skills.html">Skills</a> |
      <a href="/subsites/extracurricular.html">Extracurricular</a>
    </div>

    <div class="nav-right">
      <a href="/assets/files/Resume.pdf" target="_blank" class="resume-btn">
        View my Resume
      </a>
    </div>
  </nav>
</header>

<!-- Hey there, curious developer!
     Checking out the the source code?
     Just read the rendered page! -->

  <main>
    {{ content }}
  </main>
</body>
</html>